label {
  float: left;
  text-align: right;
  margin-right: 15px;
  width: 200px;
}
input[type=text]:focus {
  background-color: #FFF2D7;
}

input[type=text], select {
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
  padding: 2px 5px;
  border-radius: 4px;
  font-size: 12pt;
}
