.words-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px 30px;
  margin: 2em;
}

.words-form input {
  font-size: 1.1rem;
}

.button {
  grid-column: 1 / span 2;
  background-color: purple;
  color: white;
  border-radius: 50px;
  padding: 10px 0;
  width: 50%;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .words-form {
    display: block;
  }

  .words-form input {
    margin: 15px auto;
  }

  .submit {
    display: block;
    margin: 0 auto;
  }
}
